body {
    font-family: Arial, sans-serif;
    background-color: #beefc8;
    margin: 0;
    padding: 0;
}

header {
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 30px;
    width: 90%;
    background-color: #4caf4fc1;
    color: white;
    padding: 15px;
    text-align: center;
}

main {
    padding: 20px;
}

#projeto{
    text-align: center;
}

#func{
    margin-bottom: 30px;
    margin-left: 3%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
}

.btn:hover {
    background-color: #45a049;
}